@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/sobre.css");

:root {
  --font-family-primary: "Lato", sans-serif;
  --font-family-secondary: "Playfair Display", serif;
  --font-family-tertiary: "Dancing Script", cursive;
  --background-color: #2c1505;
  --background-color-secondary: #f9f5ef;
  --background-color-tertiary: #a8521f;
  --text-primary-color: #f9f5ef;
  --text-secondary-color: #c8892e;
  --text-tertiary-color: #ead9bf;
  --text-quaternary-color: #1a0a03;
  --largura-texto: 46rem;
}

html {
  scroll-padding-top: 4rem;
}

body {
  font-family: var(--font-family-primary);
}
