@import url("styles/header.css");
@import url("styles/banner.css");

:root {
    --font-family-primary: "Lato";
    --font-family-secondary: "PlayFair";
    --font-family-tertiary: "Dancing Script";
    --background-color: #2C1505;
    --background-color-secondary: #F9F5EF;
    --background-color-tertiary: #A8521F;
    --text-primary-color: #F9F5EF;
    --text-secondary-color: #C8892E;
    --text-tertiary-color: #EAD9BF;
}

