.cabeçalho {
  background-color: var(--background-color);
  display: flex;
  gap: 16rem;
  align-items: center;
  position: relative;
  padding: 1.5rem 2.5rem;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.cabeçalho__titulo {
  font-family: var(--font-family-tertiary);
  font-weight: 700;
  color: var(--text-secondary-color);
  font-size: 2.5rem;
}

.cabeçalho__navegação {
  display: flex;
  align-items: center;
  gap: 2rem;
  flex: 1;
}

.cabeçalho__navegação__lista {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.cabeçalho__navegação__lista__item__link {
  font-family: var(--font-family-primary);
  font-weight: 400;
  text-decoration: none;
  color: var(--text-tertiary-color);
  text-transform: uppercase;
  font-size: 0.9rem;
}

.cabeçalho__navegação__encomendar {
  font-family: var(--font-family-primary);
  font-weight: 400;
  text-decoration: none;
  color: var(--text-tertiary-color);
  text-transform: uppercase;
  margin-left: auto;
  font-size: 0.9rem;
}
