.banner {
    background-color: var(--background-color);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.40) 60%), url("../imagens/hero_imagem1.webp");
    background-size: cover;
    background-position: center;
    padding: 32vh 5vw;
}

.banner__titulo,
.banner__titulo__destaque,
.banner__titular,
.banner__descrição {
    text-shadow: 0 2px 8px rgba(0, 0, 0, 0.6);
}

.banner__caracteristicas {
    font-size: 1rem;
    color: var(--text-secondary-color);
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.banner__titulo {
    font-family: var(--font-family-secondary);
    font-weight: 700;
    font-size: clamp(2.5rem, 11vw, 5rem);
    color: var(--text-primary-color);
}

.banner__titulo__destaque {
    display: block; /* pra ficar a baixo do título principal */
    font-family: var(--font-family-tertiary);
    font-weight: 700;
    font-size: clamp(2rem, 9vw, 4rem);
    color: var(--text-secondary-color);
    margin-bottom: 1rem;
}

.banner__titular {
    font-size: 0.875rem;
    color: var(--text-tertiary-color);
    margin-bottom: 3rem;
}

.banner__titular::before {
    content: "";
    display: inline-block;
    width: 2rem;
    height: 1px;
    margin-right: 0.75rem;
    background-color: var(--text-secondary-color);
    vertical-align: middle;
}

.banner__descrição {
    font-size: 1rem;
    color: var(--text-tertiary-color);
    max-width: 40ch;
}