.banner {
    background-color: var(--background-color);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 1.7) 0%, rgba(0, 0, 0, 0.40) 60%), url("../imagens/hero_imagem1.webp");
    background-size: cover;
    background-position: center;
    padding: 30vh 5vw; 
    text-align: left;
}

.banner__titulo,
.banner__titulo__destaque,
.banner__titular,
.banner__descrição {
    text-shadow: 0 2px 8px rgba(0, 0, 0, 0.6);
}

.banner__caracteristicas {
    font-family: var(--font-family-primary);
    font-weight: 400;
    font-size: 1rem; 
    color: var(--text-secondary-color);
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.banner__titulo {
    font-family: var(--font-family-secondary);
    font-weight: 700;
    font-size: 5rem; 
    color: var(--text-primary-color);
}

.banner__titulo__destaque {
    font-family: var(--font-family-tertiary);
    font-weight: 700;
    font-size: 4rem; 
    color: var(--text-secondary-color);
    margin-bottom: 1rem;
}

.banner__titular {
    font-family: var(--font-family-primary);
    font-weight: 400;
    font-size: 0.875rem; 
    color: var(--text-tertiary-color);
    margin-bottom: 3rem;
}

.banner__descrição {
    font-family: var(--font-family-primary);
    font-weight: 400;
    font-size: 1rem; 
    color: var(--text-tertiary-color);
    max-width: 40ch;
}